.leaflet-marker-icon,
.leaflet-players-pane > div {
  transition: all .5s;
}

.leaflet-players-pane {
  z-index: 100000000;

  > div {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    box-shadow: none;
    pointer-events: auto;

    &:hover {
      z-index: 200000000;
    }

    &.leaflet-tooltip {
      color: var(--text-color);
      background: var(--background);
      border: var(--border);
      border-radius: 5px;
      box-shadow: var(--box-shadow);
      backdrop-filter: var(--blur);

      &:hover {
        color: var(--text-color-hover);
        background-color: var(--background-color-hover);
        border: var(--border-hover);
      }
    }

    &:before {
      border-color: transparent;
    }

    > svg {
      transition: all 0.25s;
    }

    > ul {
      padding: 3px;
      vertical-align: top;

      > li:first-child {
        display: inline-block;

        > img {
          vertical-align: middle;
          width: 32px;
          height: 32px;
          border-radius: 5px;
          border: var(--border-hover);
          box-shadow: var(--box-shadow);
        }
      }

      > li:not(:first-child) {
        --width: 90px;
        --height: 8px;
        --amount: 100%;
        --segments: 5;
        --health-color: #A80000;
        --satiety-color: #A8A800;

        display: inline-block;
        margin-left: 5px;
        text-align: center;
        line-height: 15px;
        vertical-align: top;
        font-size: 12px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-shadow: var(--text-shadow);

        > div {
          margin: 1px auto 0;
          width: var(--width);
          height: var(--height);
          background: #262626;
          border-radius: calc(var(--height) / 2);
          box-shadow: var(--box-shadow);

          &:after {
            content: '';
            display: block;
            transform: translateY(-100%);
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border-radius: calc(var(--height) / 2);
            border-top: 1px solid #FFFFFF66;
            border-left: 1px solid #FFFFFF66;
            border-right: 1px solid #00000099;
            border-bottom: 1px solid #00000099;
            background: repeating-linear-gradient(
                to right,
                transparent,
                transparent calc(100% / var(--segments) - 1px),
                #00000080 calc(100% / var(--segments) - 1px),
                #00000080 calc(100% / var(--segments) - 0px),
                transparent calc(100% / var(--segments) - 0px),
                transparent calc(100% / var(--segments) + 1px / (var(--segments) / 1.5))
            );
          }

          > p {
            height: 100%;
            border-radius: calc(var(--height) / 2);
          }

          &:first-child p {
            width: var(--amount);
            background: var(--health-color);
          }

          &:not(:first-child) p {
            margin-top: 2px;
            width: var(--amount);
            background: var(--satiety-color);
          }
        }
      }
    }
  }
}
