#sidebar {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  right: -250px;
  width: 200px;
  height: 100%;
  padding: 0 50px 0 10px;
  z-index: 1000000;
  font: 12px Arial, Helvetica, sans-serif;
  border-left: var(--border);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: var(--background);
  backdrop-filter: var(--blur);
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  background-blend-mode: color;

  &:hover {
    border-left: var(--border-hover);
    background-color: var(--background-color-hover);
  }

  &.show {
    right: -50px;
  }

  fieldset {
    clear: right;
    margin: 0 10px 0 0;
    border: none;
    border-top: var(--border);
    transition: all 0.25s;
    white-space: nowrap;

    legend {
      display: block;
      margin: 10px 5px 10px 10px;
      font-weight: 700;
    }
  }

  #pin {
    width: 23px;
    height: 23px;
    margin: 5px 5px 10px auto;
    padding: 2px;
    border: 1px solid #ffffff00;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    cursor: pointer;

    img {
      opacity: .75;
      width: 23px;
      height: 23px;
    }

    &.pinned {
      img {
        filter: var(--sidebar-pinned-filter-shadow);
      }

      &:hover {
        background: var(--sidebar-pinned-background);
        border: var(--sidebar-pinned-border);
      }
    }

    &.unpinned {
      img {
        filter: var(--sidebar-unpinned-filter-shadow);
      }

      &:hover {
        background: var(--sidebar-unpinned-background);
        border: var(--sidebar-unpinned-border);
      }
    }
  }
}
