aside {
  position: fixed;
  top: 0;
  right: -360px;
  width: 260px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px 0 10px;
  z-index: 1000000;
  font-family: "Poppins", sans-serif;
  border-left: var(--border);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: var(--background);
  backdrop-filter: var(--blur);
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  background-blend-mode: color;

  &:hover {
    right: -100px;
    border-left: var(--border-hover);
    background-color: var(--background-color-hover);
  }

  &.show {
    right: -100px;

    #pin {
      opacity: 1;
    }
  }

  div {
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-size: 1.15rem;
    font-weight: 600;

    svg {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      filter: var(--filter-shadow);
    }
  }

  ul {
    list-style-type: none;
    overflow-y: auto;
    scrollbar-width: none;
    margin-bottom: 10px;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }


    li {
      display: flex;
      border-radius: 5px;
      align-items: center;
      margin: 0 5px;
      padding: 5px;

      &:hover {
        cursor: pointer;
        background-color: var(--background-color-hover);

        img {
          border: var(--border-hover);
        }
      }

      img {
        width: 32px;
        height: 32px;
        border: var(--border);
        border-radius: 5px;
        box-shadow: var(--box-shadow);
      }

      p {
        margin-left: 10px;
        color: var(--text-color);
        font-weight: 500;
        white-space: nowrap;
      }
    }
  }

  #pin {
    position: fixed;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    margin: 5px 5px 10px 6px;
    padding: 2px;
    border: 1px solid #ffffff00;
    border-radius: 4px;
    opacity: 0;
    transition: all .2s ease-in-out;
    cursor: pointer;

    img {
      opacity: .75;
      width: 23px;
      height: 23px;
    }

    &.pinned {
      img {
        filter: var(--sidebar-pinned-filter-shadow);
      }

      &:hover {
        background: var(--sidebar-pinned-background);
        border: var(--sidebar-pinned-border);
      }
    }

    &.unpinned {
      img {
        filter: var(--sidebar-unpinned-filter-shadow);
      }

      &:hover {
        background: var(--sidebar-unpinned-background);
        border: var(--sidebar-unpinned-border);
      }
    }
  }
}
