* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: #00122d;
  overflow: hidden;
}

ul, li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

#map {
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
}

.leaflet-dragging #map {
  cursor: grabbing;
}

a {
  cursor: pointer !important;
}

img.leaflet-tile {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges
}

.leaflet-control-layers-toggle {
  width: 30px !important;
  height: 30px !important;
  background-image: url('images/layers.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.leaflet-control-attribution a {
  color: #333333;
}

.leaflet-control {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .9) !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .3) !important;
}

.leaflet-control svg {
  color: #000;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .5));
}

.leaflet-bottom.leaflet-left .link,
.leaflet-bottom.leaflet-left .coordinates {
  display: inline-block;
  float: none;
}

a.leaflet-control-layers.link svg {
  margin: 2px;
  width: 26px;
  height: 26px;
  vertical-align: bottom;
}

div.leaflet-control-layers.coordinates {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  vertical-align: bottom;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  font-size: 15px;
  white-space: pre;
}

@import 'contextmenu';
@import 'notification';
@import 'font';
@import 'leaflet';
