/.idea/
/.vs/
/.vscode/
/.vshistory/
/bin/
/obj/
/publish/
*/node_modules/
/web/public/livemap.js*
/web/public/livemap.css*
/web/public/markers/*
/web/public/tiles/*
!/web/public/tiles/settings.json
!/web/public/tiles/index.html
