* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  background: #101010;
  overflow: hidden;
}

ul, li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

#map {
  width: 100vw;
  height: 100vh;
  background: #101010;
}

img.leaflet-tile {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges
}

.leaflet-control-layers-toggle {
  width: 30px !important;
  height: 30px !important;
  background-image: url("images/layers.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.leaflet-control-attribution a {
  color: #333333 !important;
}

.leaflet-bottom.leaflet-left .link,
.leaflet-bottom.leaflet-left .coordinates {
  display: inline-block;
  float: none;
}

a.leaflet-control-layers.link img {
  margin:5px;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

div.leaflet-control-layers.coordinates {
  vertical-align: bottom;
  padding: 0 10px;
  font-size: 15px;
  line-height: 30px;
  height: 30px;
}
